/* From Uiverse.io by Tiagoadag */ 
.cards {
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
}

.cards2 {
 background-color: #1a1a1a;
 transition: all .2s;
  border-radius: 19px;
}

.cards2:hover {
 transform: scale(0.98);

}

.cards:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
